<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/html_meta.ejs') %>
    <title>首页</title>
</head>
<body>
    <%= require('html-loader!./layout/html_top.ejs') %>
    
    <!-- Code S -->
	
		
	
	<!-- Code E -->

    
    <%= require('html-loader!./layout/html_footer.ejs') %>
</body>
</html>